--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu

setuptools
streamlit
requests
pronouncing
google-cloud-translate==3.15.3
google-auth==2.33.0
google-api-core==2.19.1
protobuf==4.25.3
plotly
gTTS
eng-to-ipa
pandas
matplotlib
phonemizer
epitran
indic-transliteration
