--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu

setuptools
streamlit
requests
pronouncing
google-cloud-translate==3.15.3
googletrans==4.0.2-py3
plotly
gTTS
eng-to-ipa
pandas
matplotlib
phonemizer
